// Specific CSS for your home-page
.banner {
  color: white;
  // text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.first-container
{
 background-color:green;
 text-align: center;
 color:white;
}
.first-container h1{
 font-family: poppins, arial, helvetica, sans-serif;
 font-size: 18px;
 font-weight: 600;
 line-height: 150%;
}
.second-container
{
 background-color:white;
 text-align: center;
 color:black;
 height: 50vh;

}
.second-container h1
{
text-align: center;
font-family: poppins, arial, helvetica, sans-serif;
font-weight: 600;
font-size: 24pt;
color: #282828;
}
.second-container p
{
  // text-align: center;
  font-size: 18px;
  font-weight: 400;
   width:500px;
    height:100px;
    background-color:rgba(255, 255, 255, .4);
    text-align:center;
    /*  there it is */
    display:-webkit-inline-box;
    vertical-align:middle;

  }

// .fourth-container
// {
//  height: 50vh;
// }

// .fourth-container h1{
//  font-family: poppins, arial, helvetica, sans-serif;
//  font-size: 40px;
//  font-weight: 600;
//  line-height: 150%;
//  text-align: center;
// }
* {margin: 0; padding: 0;}

.fourth-container {
  width: 1000px;
  overflow: hidden;
  margin: 50px auto;
  background: white;
}
.fourth-container header {
  width: 800px;
  margin: 40px auto;
}

.fourth-container header h1 {
  text-align: center;
  font: 100 60px/1.5 Helvetica, Verdana, sans-serif;

}

.fourth-container header p {
  font: 100 15px/1.5 Helvetica, Verdana, sans-serif;
  text-align: justify;
}

/*photobanner*/

.photobanner {
  height: 400px;
  width: 3000px;
  margin-bottom: 80px;
}
.banner-content-row img
{
  height:300px;
  width:350px;
}

.fourth-container img
{
     vertical-align: middle;

}
.fifth-container h1{
  text-align:center;
  font-family: poppins, arial, helvetica, sans-serif;
  font-weight: 600;
  font-size: 24pt;
  color: #282828;
}
.sixth-container
{
width: 400px;
margin-left: auto;
margin-right: auto;
}

.banner-content-row2{
  widows: 200px;
}
.banner-content-row-2 img
{
  height:300px;
  width:350px;
}

.banner3 {
  color: white;
  // text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner3 h1{
  color: black;
  font-family: poppins, arial, helvetica, sans-serif;
 font-size: 18px;
 font-weight: 600;
 line-height: 150%;
}
.banner2 {
  color: white;
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner2 h1 {
  font-size: 23px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner2 p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.btn-lg.round {
  border-radius: 24px;
}
/// new cards//
html {
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}

.profile {
    position: absolute;
    top: -12px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}

.text-bold {
    font-weight: 700;
}

.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    color: rgba(0, 0, 0, .87);
}
///
