<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  All copyright reserved @2017<i class="fa fa-heart"></i> at Talentese GMBH
  </div>
</div> -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


<!--footer-->
<footer class="footer1">
<div class="container">

<div class="row"><!-- row -->




                <div class="col-lg-3 col-md-3"><!-- widgets column center -->


<img src="http://www.talentese.com/wp-content/uploads/2017/08/xlogo_grey_footer.png.pagespeed.ic.A4xbA-bPJB.png"  alt="">
                        <ul class="list-unstyled clear-margins"><!-- widgets -->

                          <li class="widget-container widget_recent_news"><!-- widgets list -->

                              <!--   <h1 class="title-widget">Contact Detail </h1> -->

                                <div class="footerp">

<!--                                 <h2 class="title-median">Webenlance Pvt. Ltd.</h2> -->
                                <p>© 2017 Talentese GmbH</p>
                              </div>

                                <div class="social-icons">

                                  <ul class="nomargin">

                <a href="https://www.facebook.com/bootsnipp"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
              <a href="https://twitter.com/bootsnipp"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>

                                    </ul>
                                </div>
                        </li>
                          </ul>
                       </div>


                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->

                          <li class="widget-container widget_nav_menu"><!-- widgets list -->

                                <h1 class="title-widget">About</h1>

                                <ul>
                                  <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Partners</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Imprint</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Terms of use</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Privacy Policy</a></li>
                                </ul>

              </li>

                        </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3"><!-- widgets column left -->

                <ul class="list-unstyled clear-margins"><!-- widgets -->

                          <li class="widget-container widget_nav_menu"><!-- widgets list -->

                                <h1 class="title-widget">Find us</h1>

                                <ul>
                  <li><a  href="#"><i class="fa fa-angle-double-right"></i>For Employers</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>Become a Coach</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>All Jobs</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>All Companies</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>Get in Touch</a></li>


                                </ul>

              </li>

                        </ul>


                </div><!-- widgets column left end -->



                <div class="col-lg-3 col-md-3"><!-- widgets column left -->

                <ul class="list-unstyled clear-margins"><!-- widgets -->

                          <li class="widget-container widget_nav_menu"><!-- widgets list -->

                                <h1 class="title-widget">Latest news</h1>

                                <ul>


                <li><a href="#"><i class="fa fa-angle-double-right"></i> From the blog</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> From Facebook</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> From Twitter</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> From Instagram</a></li>
        <li><a href="#"><i class="fa fa-angle-double-right"></i> From LinkedIn</a></li>


                                </ul>

              </li>

                        </ul>


                </div><!-- widgets column left end -->

                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

  <div class="container">

    <div class="row">


      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">
          <a href="#">About us</a>|

           <a href="#">privacy policy </a> |
           <a href="#">Imprint </a>
        </div>

      </div>

    </div>

  </div>

</div>
