
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://i65.tinypic.com/2guxi5v.jpg');">
  <div class="banner-content">
    <h1>Take your career to the next level!</h1>
    <p>Join the Talentese club today to receive career advice and new job postings and get a free gift of the amazing e-book:<br> “Getting to “You’re hired”!</p>
    <a class="btn btn-primary btn-lg">GET THE E-BOOK</a>
  </div>
</div>
<div class="first-container">
  <div class="row">
    <h1>Talentese offers an exciting way of exploring career opportunities.</h1>
  </div>
</div>
<div class="second-container">
  <div class="row">
    <h1>Where Would You Like to Start?</h1>
    <p>A career is much more than a job. At Talentese, you can find a great variety of resources to help you grow and improve your career. Just choose one below and get started!</p>
    <img src="http://i64.tinypic.com/294l8ig.png" class="center-block img-responsive"/>

  </div>
</div>

<div id="fourth-container">
   <!--  <header>
      <h1>Animated Photo Banner</h1>
      <p>Lorem ipsum dolor...</p>
    </header> -->

    <!-- Each image is 350px by 233px -->
    <<!-- div class="photobanner">
      <img class="first" src="image-1.jpg" alt="" />
      <img src="http://i65.tinypic.com/11j9md2.jpg" alt="" />
      <img src="http://i63.tinypic.com/w2jcr7.jpg" alt="" />
      <img src="http://i66.tinypic.com/j0eclt.jpg" alt="" />
      <img src="http://i66.tinypic.com/2n8a74o.jpg" alt="" />
    </div> -->
    <div class="banner-content-row">
    <img src="http://i65.tinypic.com/11j9md2.jpg" alt="" />
      <img src="http://i63.tinypic.com/w2jcr7.jpg" alt="" />
      <img src="http://i66.tinypic.com/j0eclt.jpg" alt="" />
      <img src="http://i66.tinypic.com/2n8a74o.jpg" alt="" />

  </div>

</div>

<div class="fifth-container">
    <h1>Look Inside the Best Companies</h1>
</div>
<!--
<div class="banner-content-row-2">
    <img src="http://i63.tinypic.com/2sajgqf.jpg" alt="" />
      <img src="http://i63.tinypic.com/2446xjt.jpg" alt="" />
      <img src="http://i67.tinypic.com/6og0ex.jpg" alt="" />
</div> -->
<div class="sixth-container">
  <div class="bg-img"></div>
        <div class="row">

            <div class="col-sm-6 col-md-2 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="http://i63.tinypic.com/2sajgqf.jpg">
                    <div class="card-block">
                       <!--  <h4 class="card-title">vivek</h4>
 -->                        <div class="meta">
                          <!--   <a href="#">Friends</a>
 -->                        </div>
                       <!--  <div class="card-text">
                            vivek is a web designer living in india.
                        </div> -->
                    </div>
                    <div class="card-footer">
                       <!--  <span class="float-right">Joined in 2017</span>
                        <span><i class=""></i>75 Friends</span>
                        <button class="btn btn-info btn-sm">Follow</button> -->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="http://i63.tinypic.com/2446xjt.jpg">
                    <div class="card-block">
                       <!--  <h4 class="card-title">vivek</h4> -->
                        <div class="meta">
                          <!--   <a href="#">Friends</a> -->
                        </div>
                       <!--  <div class="card-text">
                            vivek is a web designer living in india.
                        </div> -->
                    </div>
                    <div class="card-footer">
                        <!-- span class="float-right">Joined in 2017</span>
                        <span><i class=""></i>75 Friends</span>
                        <button class="btn btn-info btn-sm">Follow</button> -->
                    </div>
                </div>
            </div>
            <div class= "col-sm-6 col-md-2 col-md-4">
                <div class="card">
                    <img class="card-img-top" src="http://i67.tinypic.com/6og0ex.jpg">
                    <div class="card-block">
                        <!-- <h4 class="card-title">vivek</h4> -->
                        <div class="meta">
                            <!-- <a href="#">Friends</a> -->
                        </div>
                        <!-- <div class="card-text">
                            vivek is a web designer living in india.
                        </div> -->
                    </div>
                    <div class="card-footer">
                        <!-- span class="float-right">Joined in 2017</span>
                        <span><i class=""></i>75 Friends</span>
                        <button class="btn btn-info btn-sm">Follow</button> -->
                    </div>
                </div>
            </div>



            <!-- <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="http://success-at-work.com/wp-content/uploads/2015/04/free-stock-photos.gif">
                    <div class="card-block">
                        <h4 class="card-title">vivek</h4>
                        <div class="meta">
                            <a href="#">Friends</a>
                        </div>
                        <div class="card-text">
                            vivek is a web designer living in india.
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="float-right">Joined in 2017</span>
                        <span><i class=""></i>75 Friends</span>
                        <button class="btn btn-info btn-sm">Follow</button>
                    </div>
                </div>
            </div> -->

        </div>
</div>

  <div class="banner2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://i67.tinypic.com/2ef14d0.jpg');">
  <div class="banner-content">
    <h1>Want to List Your Company with Us?</h1>

    <a class="btn btn-success btn-lg round">ADD YOUR COMPANY</a>
  </div>
</div>
<!-- <div class="second-container">
  <div class="row"style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://i65.tinypic.com/2guxi5v.jpg');>
    <h1>Talentese offers an exciting way of exploring career opportunities.</h1>
  </div>
</div>
<div class="banner2" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://i65.tinypic.com/2guxi5v.jpg');">
  <div class="banner-content">
    <h1>Take your career to the next level!</h1>
    <p>Join the Talentese club today to receive career advice and new job postings and get a free gift of the amazing e-book:<br> “Getting to “You’re hired”!</p>
    <a class="btn btn-primary btn-lg">Start now</a>
  </div>
 -->

